body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding-left: 16px;
}

button {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: space-between;
}

.top {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0 0;
}

.top p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    margin-bottom: 8px;
}

.top button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 6px 30px;
    font-weight: bold;
    border: 0px;
}

.top .container {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 32px;
}

.info {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

h3 {
    font-size: 36px;
}

.info .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    column-gap: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    justify-content: center;
}

.column img {
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.column p {
    text-align: center;
    margin-top: 8px;
    color: #1f2937;
}

.quote {
    background-color: #E5E7EB;
    padding: 80px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote p {
    width: 800px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
}

.quote h4 {
    font-size: 24px;
    align-self: center;
    padding-left: 500px;
}

.quote p,
.quote h4, 
.bottom p, 
.bottom h4 {
    margin: 0 0;
}

.bottom {
    background-color: #ffffff;
    padding: 75px 150px;
}

.bottom .container {
    background-color: #3882f6;
    padding: 40px 80px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-container h4 {
    color: #f9faf8;
    font-size: 20px;
}

.small-container p {
    color: #E5E7EB;
}

.bottom button {
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 6px 30px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 16px 16px;
}

button:hover {
    background-color: #649ffc;
}